<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/alert.css">

    <script src="https://kit.fontawesome.com/e45a62e93a.js" crossorigin="anonymous"></script>
</head>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav>
        <h2 class="imp-text">CSS-Companion</h2>
        <ul>
            <li><a  href="../index.html">Home</a></li>
            <li><a class="current-pg" href="/">Components-docs</a></li>
            <li><a href="/">git</a></li>
        </ul>
    </nav>
<hr>
<div class="component-text imp-text">Get your Website Components Designed
</div>

<aside>

    <label for="hamburger" class="hamnav">&#9776;</label>
<input type="checkbox" id="hamburger">

    <ul class="hamitems">
        
         <li><a  href="/component.html">Avatar</a></li>
            <li><a class="current-pg" href="./alert.html">Alert</a></li>
            <li><a href="./badge.html">Badge</a></li>
            <li><a href="./button.html">Button</a></li>
            <li><a href="./card.html">Card</a></li>
            <li><a href="./image.html">Image</a></li>
            <li><a href="./input.html">Input</a></li>
            <li><a href="./text-utilities.html">Text Utilities</a></li>
            <li><a href="./navigation.html">Navigation</a></li>
            <li><a href="./modal.html">Modal</a></li>
            <li><a href="./rating.html">Rating</a></li>
            <li><a href="./toast.html">Toast</a></li>
            <li><a href="./grid.html">Grids</a></li>
            <li><a href="./slider.html">Slider</a></li>
    </ul>
</aside>
        <main>
            <h3 class="imp-text">Alert</h3>  
            <p>You simply use alerts to inform your user/audience about show the ystem/ work state is working, failed or successful</p>     
                 <p class="bold"> Primary Alert </p> 
                <div class="alert">Thank you!</div>
                <p>Primary Alert are the default errors which you use to showcase any general information. You just need to give your component <span class="highlight">"alert"</span>and its done. Enjoy and customize the alert class as per the flow of your website.</p>
                <iframe
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=bw&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=25px&ph=14px&ln=false&fl=1&fm=Hack&fs=14.5px&lh=155%25&si=false&es=2x&wm=false&code=%2520%253Cdiv%2520class%253D%2522alert%2522%253EThank%2520you%21%253C%252Fdiv%253E"
  style="width: 369px; height: 134px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>

                <p class="bold"> Success Alert </p> 
                <div class="alert success">Update successful</div>
                <p>Primary Alert are the default errors which you use to showcase that the process is succesfull. You just need to give your component <span class="highlight">"alert success"</span> along with sucess class and its done.</p>
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=bw&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=25px&ph=14px&ln=false&fl=1&fm=Hack&fs=14.5px&lh=155%25&si=false&es=2x&wm=false&code=%2520%2520%253Cdiv%2520class%253D%2522alert%2520success%2522%253EUpdate%2520successful%253C%252Fdiv%253E"
                style="width: 508px; height: 134px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
              </iframe>

                <p class="bold"> Warning Alert </p> 
                <div class="alert danger">Account action required</div>
                <p>Primary Alert are the default errors which you use to showcase that the process is succesfull. You just need to give your component <span class="highlight">"alert danger"</span> along with sucess class and its done.</p>
<iframe
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=bw&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=25px&ph=14px&ln=false&fl=1&fm=Hack&fs=14.5px&lh=155%25&si=false&es=2x&wm=false&code=%2520%253Cdiv%2520class%253D%2522alert%2520danger%2522%253EAccount%2520action%2520required%253C%252Fdiv%253E"
  style="width: 543px; height: 134px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>

                <p class="bold"> Error Alert </p> 
                <div class="alert error">Page not found</div>
                <p>Primary Alert are the default errors which you use to showcase that the process is succesfull. You just need to give your component <span class="highlight">"alert error"</span> along with sucess class and its done.</p>

                <iframe
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=vscode&wt=bw&l=htmlmixed&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=25px&ph=14px&ln=false&fl=1&fm=Hack&fs=14.5px&lh=155%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522alert%2520error%2522%253EPage%2520not%2520found%253C%252Fdiv%253E"
  style="width: 447px; height: 134px; border:0; transform: scale(1); overflow:hidden;"
  sandbox="allow-scripts allow-same-origin">
</iframe>
            </main>
        <footer>
            <h4>all rights reserved @ CSS-Companion</h4>
            <ul>
                <li><a href="https://www.linkedin.com/in/sneha-singh-58b246195/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com/i-am-a-codegirl?tab=repositories"> <i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="https://instagram.com/a_productuive_blog?utm_medium=copy_link"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="mailto: iamacodegirl@gmail.com"><i class="fa fa-briefcase" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/snehasi16136808"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              </ul>
        </footer>

    </div>   
</body>
</html>
